<aside class="page-sidebar">
    <div class="page-logo">
        <a href="~/ProjectManager" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
            @* <img src="" alt="SmartAdmin WebApp" aria-roledescription="logo">*@
            <span class="page-logo-text mr-1" style="font-weight:500">RTC Technology</span>
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
            @*   <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>*@
        </a>
    </div>
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <div class="nav-filter">
            <div class="position-relative">
                <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
                <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
                    <i class="fal fa-chevron-up"></i>
                </a>
            </div>
        </div>
        @* <div class="info-card">
                <div class="info-card-text">

                </div>
                <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
                    <i class="fal fa-angle-down"></i>
                </a>
            </div>*@
        <ul id="js-nav-menu" class="nav-menu">
           

            <li>
                <a href="~/ProjectManager/Index">
                    <i class="fal fa-tag"></i>
                    <span class="nav-link-text">Trang chủ</span>
                </a>

            </li>
             <li @*class="active open"*@>
                <a href="~/Report/Index" title="Application Intel" data-filter-tags="application intel">
                    <i class="far fa-fw fa-sticky-note"></i>
                    <span class="nav-link-text">Báo cáo mỗi ngày</span>
                </a>
                @*  <ul>
                        <li class="active">
                            <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
                                <span class="nav-link-text" data-i18n="nav.application_intel_analytics_dashboard">Analytics Dashboard</span>
                            </a>
                        </li>

                    </ul>*@
            </li>

        </ul>
        <div class="filter-message js-filter-message bg-success-600"></div>
    </nav>
    <!-- END PRIMARY NAVIGATION -->
    <!-- NAV FOOTER -->
    <div class="nav-footer shadow-top">
        <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
            <i class="ni ni-chevron-right"></i>
            <i class="ni ni-chevron-right"></i>
        </a>

    </div> <!-- END NAV FOOTER -->
</aside>