@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="subheader">

</div>
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Quản lý báo cáo theo ngày</h6>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <table id="dt-listlabel" class="table table-bordered table-hover w-100">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên nhân viên</th>
                                <th>Tên dự án</th>
                                <th>Chi tiết</th>
                                <th>Đã hoàn thành</th>
                                <th>Vấn đề tồn đọng</th>
                                <th>Giải pháp dự kiến</th>
                                <th>Công việc ngày mai</th>
                                <th>Ghi chú thêm</th>
                                <th>Ngày tạo</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="updatelabel">

</div>

<div id="checkReport">

</div>
<!-- END Page Content -->

@section FooterSection{
    <script>
        function viewDetail(reportData) {
            console.log(reportData);
            $.ajax({
                url: "/ReportAdmin/ViewDetail",
                method: "POST",
                data: { model : reportData }

            })
        };

        $('#dt-listlabel tbody').on('click', 'button', function () {
            var data1 = table.row($(this).parents('tr')).data();
            console.log(data1);
            $.ajax({
                url: "/Admin/ReportAdmin/ViewDetail",
                method: "POST",
                dataType: "html",
                data: data1,
                success: function (res) {
                    $("#updatelabel").html(res);
                    $("#md-frmLabel").modal("show");

                   @* $("#md-frmLabel").modal("show");*@
                },
                error: function (res) {
                    console.log(res);
                    alert(res);
                }
            })
        });

        var table = $('#dt-listlabel').DataTable({
            "ajax": {
                "url": "/ReportAdmin/GetReportList",
                "type": "GET",
                "datatype": "json",
            },
            responsive: true,
            "columns": [
                @*{
                    render: function (data, type, row) {
                        return '<div class="d-flex"><button type = "button" class="btn btn-secondary btn-pills" onclick="viewDetail(\'' + row.data + '\')" > <i class="far fa-edit"></i ></button></div>'
                    }
                },*@
                {
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button type = 'button' class='btn btn-secondary btn-pills'><i class='far fa-edit'></i></button>",
                },
                {
                    "data": "FullName",
                    "defaultContent": ""
                },
                {
                    "data": "ProjectCode",
                    "defaultContent": ""
                },
                {
                    "data": "WorkDetail",
                    "defaultContent": ""
                },
                {
                    "data": "WorkFinished",
                    "visible": false,
                    "defaultContent": ""
                },
                {
                    "data": "ProblemRemained",
                    "defaultContent": "",
                    "visible": false,
                },
                {
                    "data": "ExpectedSolution",
                    "defaultContent": "",
                    "visible": false,
                },
                {
                    "data": "NextDayWork",
                    "visible": false,
                    "defaultContent": ""
                },
                {
                    "data": "Note",
                    "defaultContent": ""
                },
                {
                    render: function (data, type, row) {
                        return moment(row.DateCreated).format("DD/MM/YYYY");
                    },
                    "defaultContent": ""
                },


            ],
          
            dom: "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            buttons: [
                /*{
                    extend:    'colvis',
                    text:      'Column Visibility',
                    titleAttr: 'Col visibility',
                    className: 'mr-sm-3'
                },*/
                {
                    text: '<button type="button" style="color: white;" class="btn btn-primary fw-500 pl-6 pr-6">Kiểm tra</button>',
                    action: function (e, dt, button, config) {
                        $.ajax({
                            url: "/Admin/ReportAdmin/CheckReported",
                            method: "POST",
                            dataType: "html",
                            success: function (res) {
                                $("#checkReport").html(res);
                                $("#md-CheckReported").modal("show");
                            },
                            error: function (res) {
                            }
                        })
                    }

                },
                {
                    extend: 'pdfHtml5',
                    text: 'PDF',
                    titleAttr: 'Generate PDF',
                    className: 'btn-outline-danger btn-sm mr-1'
                },
                {
                    extend: 'excelHtml5',
                    text: 'Excel',
                    titleAttr: 'Generate Excel',
                    className: 'btn-outline-success btn-sm mr-1'
                },
                {
                    extend: 'csvHtml5',
                    text: 'CSV',
                    titleAttr: 'Generate CSV',
                    className: 'btn-outline-primary btn-sm mr-1'
                },
                {
                    extend: 'copyHtml5',
                    text: 'Copy',
                    titleAttr: 'Copy to clipboard',
                    className: 'btn-outline-primary btn-sm mr-1'
                },
                {
                    extend: 'print',
                    text: 'Print',
                    titleAttr: 'Print Table',
                    className: 'btn-outline-primary btn-sm'
                }
            ]
        })

        @*function event_UpLabel(key) {
            $.ajax({
                url: "/Administrator/UpdateLabel",
                method: "Get",
                data: { Key: key },
                success: function (res) {
                    $("#updatelabel").html(res);
                    $("#md-frmLabel").modal("show");
                    $(".btna-updatelabel").removeClass('d-none');
                    $(".btna-addlabel").addClass('d-none');
                    $('.valueKey').prop('disabled', true);
                },
                error: function (res) {
                    toastr["error"](res.Message);
                }
            })
        }*@
    </script>

}
