
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- DataTales Example -->
<div class="card shadow mb-4" ng-controller="ReportAdminController" ng-cloak>
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý báo cáo</h6>
    </div>
    @* @using (Html.BeginForm("Index", "Account", FormMethod.Get))
        {*@
    <div class="row">
        <div class="col-12">
            <div class="col-lg-8">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" name="searchString" value="@*@ViewBag.SearchString*@" />
                <button type="submit">Tìm kiếm</button>
            </div>

        </div>
    </div>
    @*  }
        @if (Model != null)
        {*@
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr ng-if="TodayReport != null" style="background-color: gainsboro;">
                        <th>#</th>
                        <th>Tên nhân viên</th>
                        <th>Tên dự án</th>
                        <th>Chi tiết</th>
                        <th>Đã hoàn thành</th>
                        <th>Vấn đề tồn đọng</th>
                        <th>Giải pháp dự kiến</th>
                        <th>Giải pháp dự kiến</th>
                        <th>Công việc ngày mai</th>
                        <th>Ghi chú thêm</th>
                    </tr>
                    <tr ng-if="TodayReport == null" style="background-color: gainsboro;">
                        <th style="color: red">Error</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-if="TodayReport != null" dir-paginate="item in TodayReport | itemsPerPage: 10" id="{{item.ReportID}}" pagination-id="dishesPagination">
                        <td>
                            <a href="#">Xem</a> |
                        </td>
                        <td>{{item.WorkDetail}}</td>
                        <td>{{item.WorkFinished}}</td>
                        <td>{{item.ProblemRemained}}</td>
                        <td>{{item.ExpectedSolution}}</td>
                    </tr>

                    <tr ng-if="TodayReport == null">
                        <td>
                            Không có dữ liệu
                        </td>
                    </tr>

                </tbody>
            </table>
            @*  @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))*@
            <div>
                <dir-pagination-controls max-size="8"
                                         direction-links="true"
                                         boundary-links="true"
                                         pagination-id="dishesPagination"
                                         on-page-change="GetTodayReport()">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    @*    }
        else
        {
            <h3 class="text-danger">Có lỗi xảy ra !!</h3>
        }*@

</div>

@section FooterSection{
    <script src="~/AngularJS/Service/ReportAdminService.js"></script>
    <script src="~/AngularJS/Controller/ReportAdminController.js"></script>

}
