
@{
    ViewBag.Title = "ProjectDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .on-top{
        z-index:2;
    }

 
    .projectName-text {
        color: #172b4d;
        font-size: 18px;
        font-weight: 700;
        text-overflow: ellipsis;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .gradient-bg {
        background: linear-gradient(to right top, #2f93c2, #bd23cf );
        position: relative;
 
    }

    .cnxoay {
        width: 300px;
        height: 500px;
        background: rgba(255,255,255,0.2);
        position: fixed;
        top: 0;
        transform: rotate(-30deg) translate(-100px, -200px);
    }

    .cnxoay1 {
        width: 500px;
        height: 300px;
        background: rgba(255,255,255,0.2);
        position: fixed;
        bottom: 3rem;
        transform: rotate(-30deg) translate(-100px, 200px);
        left: 16rem;
    }

    .cnxoay2 {
        width: 300px;
        height: 500px;
        background: rgba(0, 0, 0, 0.125);
        position: fixed;
        top: 18rem;
        right: 19rem;
        transform: rotate(-30deg) translate(450px, -400px);
    }

    p {
        margin-bottom: 0.7rem !important;
    }
    .board {
        background-color: #e1e1e1;
        padding: 0.7rem;
        border-bottom: 1px solid #b5b5b5;
    }
    .board-header{
        @*margin:0 0 5px 0;*@
        align-items: center;
        align-content: center;
    }
    .board-header-text {
        color: #172b4d;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .task-card {
      @*  overflow: hidden;*@
        position: relative;
        background-color: #ffffff;
        display: block;
        padding: 0;
    }

    .task-card-title
    {
        padding: 3px 8px 2px 8px;
        background-color: #ffffff;
        border-radius: 3px;
        border-bottom: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5;
        overflow: hidden;
        text-decoration: none;
        word-wrap: break-word;
        color: #172b4d;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0 0 0.5rem 0 !important;
    }

    .toggle-modal :hover {
        background-color: #dcdcdc !important;
        cursor: pointer;

    }

    .task-card:hover .edit-button{
        opacity: 1;
        cursor: pointer;
    }

    .edit-button {
        margin: 0.5rem;
        opacity: 0;
        position: absolute;
        top: 20%;
        left: 85%;
        font-size: 18px;
        z-index: 10;
        background-color: rgb(197 197 197 / 61%);
    }

    #header-modal:hover {

        cursor: pointer;
    }

    #header-modal:hover .edit-button-hover{
      @*  opacity: 1;*@
      display: block;
        cursor: pointer;
    }

    .edit-button-hover {
      @*  position: absolute;
        z-index: 10;
        bottom: 80%;
        left: 85%;*@
       @* opacity: 0;*@
       display: none;
        font-size: 15px;
    }

    #header-modal-1:hover .edit-button-hover-1 {
        opacity: 1;
        cursor: pointer;
    }
    .edit-button-hover-1 {
      @*  position: absolute;
        z-index: 10;
        bottom: 30%;
        left: 97%;*@
        opacity: 0;
        font-size: 15px;
    }

    #column-select:hover #column-select-hover {
        opacity: 1;
        cursor: pointer;
    }

    #column-select-hover {
       @* position: absolute;
        z-index: 10;
        RIGHT: 60%;*@
        opacity: 0;
        font-size: 15px;
    }

    #page-wrap {
       
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    tr {
        vertical-align: top;
    }

    .task-container {
        width: 250px;
       margin: 0.7rem;
    }
    #slimscroll-1 {
        height: 350px;
        overflow-y: auto;
    }
    .slimScrollDiv {
        overflow: visible !important;
    }
    .p-text {
        font-size: 14px;
    }

    .add-task-btn:hover {
        background-color: #bbbbbb !important;
    }
</style>

<div id="page-wrap" class="d-flex flex-column gradient-bg" ng-controller="TaskManagerController" ng-cloak>
    <div style="z-index: 2;  overflow-x: auto;overflow-y: auto; height: 100%">
        <div class="d-flex on-top mt-3" style="justify-content: center;position: fixed;LEFT: 45%;">
            <span class="projectName-text mr-2 px-3 text-center" style=" background-color: #e1e1e1; border-radius: 10px 10px;  ">@ViewBag.ProjectName</span>
        </div>
        <div class="d-flex on-top mt-3" style="padding: 0 0.8rem 0 0.8rem">
            <button type="button" style="padding-bottom: 0.1rem; padding-top: 0.1rem; background-color: #e1e1e1; " class="btn board-header-text btn-addCol edit-on-click-4" ng-click="EditOnClick(4)">Thêm cột</button>
            <div class="form-group close-all edit-form-4 mt-2 mb-2 w-50" style="display: none">
                <div class="">
                    <span class="projectName-text mr-2 px-3 text-center" style=" background-color: #e1e1e1; border-radius: 10px 10px;  ">
                        <span class="board-header-text" style="color:red">* </span> <span class="board-header-text">Tên cột:</span>
                    </span>
                    <textarea ng-model="Dummy.TaskName" class="form-control input-style" id="taskDescription" rows="2" placeholder="..."></textarea>
                </div>
                <div class="ml-2 d-flex flex-row">
                    <button type="button" class="btn btn-primary edit-form-4 mr-2" ng-click="AddTask(1)" style="display:none">Thêm</button>
                    <button type="button" class="btn btn-secondary btn-close edit-form-4" ng-click="ClearAddColForm(4)" style="display:none">Close</button>
                </div>
            </div>

        </div>

        <div class="on-top task-board">
            <table cellspacing="30">
                <tbody>
                    <tr>
                        <td ng-repeat="item in ColumnList | orderBy:'ColumnOrder'">
                            <div class=" task-container" id="col-num-{{item.id}}">
                                <div id="panel-1" style="border-radius: 10px 10px" class="board d-flex flex-column">
                                    <div class="board-header d-flex flex-row" style="justify-content: space-between;">
                                        <div class="edit-on-click-5">
                                            <h2 class="board-header-text">
                                                @* Đang chờ nhận *@@*<span class="fw-300"><i>Panel</i></span>*@
                                                {{item.TaskName}}
                                            </h2>
                                        </div>
                                      
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-icon" style="bottom: 0.5rem; font-weight: 900; position: relative; font-size: 20px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ...
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item toggle-modal" data-toggle="modal" data-target="#modal3" ng-click="GetColumnName(item)">Sửa</a>
                                                <a class="dropdown-item disabled" href="javascript:void(0)">Chuyển toàn bộ thẻ</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-danger" ng-click="DeleteCol(item.id)">Xóa cột</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="board-container show" style="">
                                        <div id="panel-content-1" class="board-content h-100 d-flex flex-column">
                                            <div id="slimscroll-1" class="column-{{item.id}} auto-adjust" data-distance="4px">
                                                <div class="task-card col-12" ng-repeat="item1 in TaskList | filter: {ParentID: item.id}">

                                                    <span ng-click="DeleteTask(item1.id)"><i class="far fa-times-circle edit-button"></i></span>
                                                    <a data-toggle="modal" data-target="#modal1" data-backdrop="static" data-keyboard="false" class="toggle-modal" ng-click="GoToTaskDetail(item1, item.TaskName)">
                                                        <div class="task-card-title">
                                                            @*Default panel text something in here a lot of things in here lmao omg 420 no scope that kid omg mom get the camera*@
                                                            {{item1.TaskName}}
                                                        </div>

                                                    </a>


                                                </div>

                                            </div>
                                            <a class="add-task-btn mt-2" style="cursor: pointer" data-toggle="modal" data-target="#modal2" ng-click="GetColumnID(item.id)">
                                                <i class="fas fa-edit"></i>
                                                <span>Thêm thẻ nhiệm vụ</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    @* <div class="gradient-bg"></div>*@
    <div class="cnxoay"></div>
    <div class="cnxoay1"></div>
    <div class="cnxoay2"></div>

    <div id="task-detail" style="z-index: 2500">
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content form-background" style=" padding: 0 1.25rem 0 1.25rem;">
                    <div class="modal-header ">
                        <div class="w-100">
                            <i class="fas fa-heading" style="font-weight:700;font-size: 18px;position: absolute;left: 1.25rem;"></i>
                            <div class="" style=" padding: 0 1rem 0 1rem;">
                                <div id="header-modal">
                                    <h5 class="modal-title edit-on-click-1" style="font-weight:700;font-size: 18px" ng-click="EditOnClick(1)">
                                        {{TaskDetail.TaskName}}
                                    </h5>
                                    <span class="edit-button-hover" ng-click="EditOnClick(1)">
                                        <i class="fas fa-edit"></i>

                                        Click để sửa
                                    </span>
                                </div>

                                <div class="form-group close-all edit-form-1 mt-2 mb-2 w-100" style="display: none">
                                    <div class="">
                                        <textarea ng-model="TaskDetail.TaskName" class="form-control input-style" id="taskDescription" rows="5" placeholder="..."></textarea>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary" ng-click="FinishEdit(1)">Xong</button>
                                    </div>
                                </div>


                                <div id="column-select" class="mt-2">
                                    <span>trong bảng </span>
                                    <span class="p-text edit-on-click-3" style="text-decoration:underline" ng-click="EditOnClick(3)">{{CurrentColumn}}</span>
                                    <span id="column-select-hover" ng-click="EditOnClick(3)">
                                        <i class="fas fa-edit"></i>

                                        Click để sửa
                                    </span>
                                </div>

                                <div class="form-group edit-form-3 close-all w-100 mt-2" style="display:none; z-index: 1000">
                                    <select ng-model="TaskDetail.ParentID" ng-change="FinishEdit(3)" name="parentID" id="select-column" class="form-control" @*style="background:#36393f"*@>
                                        <option class="" ng-repeat="obj in ColumnList | filter: {ParentID: 0}" value="{{obj.id}}">{{obj.TaskName}}</option>
                                    </select>

                                    @*<button type="button" class="btn btn-primary mt-2" ng-click="FinishEdit(3)">Xong</button>*@
                                </div>

                            </div>


                        </div>

                        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close" ng-click="ClearModal()">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                    </div>


                    <div class="modal-body" style="padding-top: 0;">
                        <div class="">
                            <i class="fas fa-paragraph" style="font-weight:700;font-size: 18px;position: absolute;left: 0rem;"></i>
                            <div class="" style=" padding: 0 1rem 0 1rem;">
                                <div id="header-modal-1">
                                    <span class="modal-title" style="font-weight:500;font-size: 18px">
                                        Chi tiết
                                    </span>
                                    <br />
                                    <span class="p-text edit-on-click-2" ng-click="EditOnClick(2)" ng-bind-html="TaskDetail.TaskDescription">
                                        {{TaskDetail.TaskDescription}}
                                    </span>
                                    <span class="edit-button-hover-1 ml-2" ng-click="EditOnClick(2)">
                                        <i class="fas fa-edit"></i>

                                        Click để sửa
                                    </span>
                                </div>



                                <div class="form-group close-all edit-form-2 mt-2" style="display: none">
                                    <div class="">
                                        <textarea ng-model="TaskDetail.TaskDescription" class="form-control input-style" id="taskDescription" rows="5" placeholder="..."></textarea>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary" ng-click="FinishEdit(2)">Xong</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal" ng-click="ClearModal()">Close</button>
                        <button type="button" style="display:none" class="btn btn-primary btn-save" data-dismiss="modal" ng-click="UpdateTask()">Lưu</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div id="add-task" style="z-index: 2500">
        <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content form-background">
                    <div class="modal-header">
                        <h5 class="modal-title edit-on-click" style="font-weight:700;font-size: 18px">
                            Thêm mới thẻ công việc
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top: 0;">
                        <div>
                            <div class="form-group">
                                <span style="color:red; font-size: 1.2rem">*</span>
                                <label class="form-label label-text board-header-text" for="example-textarea">Tên thẻ: </label>
                                <div class="">
                                    <input type="text" ng-model="Dummy.TaskName" class="form-control input-style no-limit-width work-detail label-text" id="input-message" rows="5" placeholder="Để lại lời nhắn của bạn ..." />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label label-text board-header-text" for="example-textarea">Nội dung thẻ: </label>
                                <div class="">
                                    <textarea ng-model="Dummy.TaskDescription" class="form-control input-style no-limit-width work-finished label-text" id="taskDescription" rows="5" placeholder="Để lại lời nhắn của bạn ..."></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="AddTask(2)">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="edit-column" style="z-index: 2500">
        <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content form-background">
                    <div class="modal-header">
                        <h5 class="modal-title edit-on-click" style="font-weight:700;font-size: 18px">
                            Sửa cột
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top: 0;">
                        <div>
                            <div class="form-group">
                                <span style="color:red; font-size: 1.2rem">*</span>
                                <label class="form-label label-text board-header-text" for="example-textarea">Tên cột: </label>
                                <div class="">
                                    <input type="text" ng-model="Dummy.TaskName" class="form-control input-style" id="input-message" rows="5" placeholder="Để lại lời nhắn của bạn ..." />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label label-text board-header-text" for="example-textarea">Vị trí cột (từ 1-{{numColumn + 1}}): </label>
                                <div class="">
                                    <input type="number" ng-model="Dummy.ColumnOrder" class="form-control input-style" placeholder=" ..." />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="UpdateColumn()">Sửa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="~/Scripts/jquery-3.5.1.js"></script>
<script>
    var projectDetailID = @Model;
    var projectName = '@ViewBag.ProjectName';
    console.log(projectName);

 @*   var height = $('#slimscroll-1').outerHeight();
    console.log("height: " + height);*@

    @*if (height < 400) {
        $('#slimscroll-1').css("height": "400px");
    };*@
@*    var numColumn = 0;*@
</script>
@section FooterSection{

    <script src="~/AngularJS/Service/TaskManagerService.js"></script>
    <script src="~/AngularJS/Controller/TaskManagerController.js"></script>
    @*<script>
        function onLoad(loading, loaded) {
            if (document.readyState === 'complete') {
                return loaded();
            }
            loading();
            if (window.addEventListener) {
                window.addEventListener('load', loaded, false);
            }
            else if (window.attachEvent) {
                window.attachEvent('onload', loaded);
            }
        };

        onLoad(function () {
            console.log('I am waiting for the page to be loaded');
        },
            function () {
                console.log('The page is loaded');
                var height = 0;
                console.log("numCol = " + numColumn);
                for (var id = 1; id <= numColumn; id++) {
                    height = $('.column-' + id).outerHeight();
                    console.log("height-" + id + ": " + height);

                    if (height > 250) {
                        $('.column-' + id).css({ "height": "350px" });
                    }
                    else {
                        $('.column-' + id).css({ "height": "auto" });
                    };
                }
            });
    </script>*@
}
