
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .page-content {
        padding: 0 !important;
    }

    #page-wrap {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .gradient-bg {
        background: linear-gradient(to right top, #f4ff41, #ff5353 );
        position: relative;
    }

    .cnxoay {
        width: 300px;
        height: 500px;
        background: rgba(255,255,255,0.2);
        position: fixed;
        top: 0;
        transform: rotate(-30deg) translate(-100px, -200px);
    }

    .cnxoay1 {
        width: 500px;
        height: 300px;
        background: rgba(255,255,255,0.2);
        position: fixed;
        bottom: 3rem;
        transform: rotate(-30deg) translate(-100px, 200px);
        left: 16rem;
    }

    .cnxoay2 {
        width: 300px;
        height: 500px;
        background: rgba(0, 0, 0, 0.125);
        position: fixed;
        top: 18rem;
        right: 19rem;
        transform: rotate(-30deg) translate(450px, -400px);
    }

    .body-container {
        width: 100%;
    }

    @@media (max-width: 950px) {


        .body-container {
            margin: 0 auto;
            width: 100%;
            padding: 0 1.5rem 5rem;
        }
    }

    .contact-body {
        position: relative;
    }

    .board {
        background: #eef8ff;
        border-color: #cacaca;
        padding: 2rem !important;
        border-radius: 7px;
        -webkit-box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
        box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    }

    @@media (max-width: 600px) {
        .board {
            background: #36393f;
            border-color: #262626;
            padding: 1rem !important;
            border-radius: 7px;
            -webkit-box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
            box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
        }
    }

    .board-background {
        background: #eef8ff;
    }

    .title-text {
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        color: #172b4d;
        font-weight: 700;
        line-height: 24px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .icon-style {
        overflow: hidden;
        text-overflow: ellipsis;
        color: #172b4d;
        font-weight: 600;
        line-height: 24px;
        font-size: 16px;
    }

    .text-img {
        font-weight: 700;
        line-height: 20px;
        color: white;
        overflow-wrap: break-word;
        text-align: left;
        word-wrap: break-word;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        position: absolute;
        font-size: 22px;
        top: 1.5rem;
        left: 2.5rem;
    }

    .img-style {
        background-size: cover;
        width: 23%;
        height: 125px;
        background-position: center center;
        border-radius: 5px;
    }
</style>

<div class="d-flex flex-column gradient-bg" style="height:100%">
    <div style="z-index: 2;">
        <div class="contact-body">
            <div class="body-container d-flex flex-wrap">

                <!-- || board -->
                <div class="board board-background col-lg-10 col-xs-12" style=" margin: 1rem auto">
                    <div class="d-flex col-12">
                        <i class="far fa-user icon-style mr-2"></i>
                        <h3 class="title-text">Các dự án của bạn</h3>
                    </div>
                    <div class="mt-2 d-flex flex-wrap" style="">

                        <a href="#" class="mr-2 mb-2 img-style" style="background-image: url(/Assets/Client/bgimg/bgimg.jpg);">
                            <div style="padding:1rem">
                                <h1 style="font-size: 16px; color: #fff; font-weight: 700; line-height: 20px;">
                                    RTC Project
                                </h1>
                            </div>
                        </a>

                        
                    </div>
                </div>
                <!-- -->


            </div>
        </div>
    </div>
    @* <div class="gradient-bg"></div>*@
    <div class="cnxoay"></div>
    <div class="cnxoay1"></div>
    <div class="cnxoay2"></div>




</div>

